.cheval-code-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.cheval-copy {
  position: absolute;
  right: 0;
  top: -100%;
  overflow: hidden;
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
  background-color: #1d1d1d;
  background-color: rgba(0, 0, 0, 0.8);
  color: #e6e6e6;
  padding: 0 0.3rem;
}
.cheval-code-wrapper:hover .cheval-copy {
  transform: translateY(100%);
}
